@import "variables";

.addressText {
  margin-top: 20px;
  margin-bottom: 20px;
}

.closeButton {
  float: right;
  border: none;
  background: none;
  @extend .cursor-pointer;
}

.closeIcon {
  @extend .text-gradient;
}
