// Base bootstrap theme customizations
@import "variables";

html, body {
  // Set root font size (rem)
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: white;
  background-color: $pageBgColor;
  min-height: 100vh;
  position: relative;
}

a, .btn-link {
  color: $primary-color;
  &:hover, &:focus {
    color: darken($primary-color, 5%);
  }
}

h1, h2, h3, h4, h5, h6, th {
  color: $primary-color;
  font-weight: 300;
  .btn-link {
    padding: 0;
    border: none;
  }
}

p {
  color: $medium-grey;
  font-weight: inherit;
  &:last-child {
    margin-bottom: 0;
  }
  
  a {
    color: $medium-grey;
    text-decoration: underline;
    &:hover, &:focus {
      color: $medium-grey;
      text-decoration: $medium-grey;
    }
  }
}

.container, .container-fluid {
  padding-left: $spacer;
  padding-right: $spacer;
}

@each $bp, $width in $container-max-widths {
  .container {
    @include media-breakpoint-up($bp) {
      max-width: $width;
    }
  }
}

.row {
  @each $name, $value in $gutter-sizes {
    &.#{$name}-gutters-x, &.#{$name}-gutters {
      margin-left: -$value;
      margin-right: -$value;
      @include col {
        padding-left: $value;
        padding-right: $value;
      }
    }
    &.#{$name}-gutters-y, &.#{$name}-gutters {
      margin-top: -$value;
      margin-bottom: -$value;
      @include col {
        padding-top: $value;
        padding-bottom: $value;
      }
    }
  }
}

%menu-action {
  background-color: $menu-bg-color;
  border-color: $menu-border-color;
  @include disabled {
    filter: grayscale(1);
    color: $medium-grey;
    cursor: default;
  }
  @include not-disabled {
    @include hover {
      z-index: 1;
      background-color: $menu-bg-color-hover;
      border-color: $menu-border-color-hover;
    }
    @include active {
      background-color: $menu-bg-color-active;
      border-color: $menu-border-color-active;
    }
    &:active {
      z-index: 2;
    }
    &.active {
      z-index: 3;
    }
  }
}

@mixin grid-group($border: $menu-border) {
  $border-width: get-border-width($border);
  padding: 0;

  > .row {
    margin: (-$border-width) 0 0 (-$border-width);

    @include col {
      padding: 0;
      overflow: visible;
      @include not-disabled {
        &:hover, &:active, &.active {
          z-index: 1;
        }
      }
      > .grid-cell {
        padding: 0;
        border: $border;
        display: block;
        width: calc(100% + #{$border-width});
        height: calc(100% + #{$border-width});
        margin: 0;
      }
      > button, > a {
        &.grid-cell {
          text-align: center;
          color: $primary-color;
          text-decoration: none;
          font-weight: 300;
          @extend %menu-action;
        }
      }
    }

    @each $name, $value in $gutter-sizes {
      &.#{$name}-gutters-x, &.#{$name}-gutters {
        @include col {
          > .grid-cell {
            padding-left: $value;
            padding-right: $value;
          }
        }
      }
      &.#{$name}-gutters-y, &.#{$name}-gutters {
        @include col {
          > .grid-cell {
            padding-top: $value;
            padding-bottom: $value;
          }
        }
      }
    }
  }
}

.table {
  background-color: $table-bg-color;
  tbody td, thead th {
    border-color: $table-border-color;
    padding: 8px;
  }
  thead {
    tr:first-child {
      th {
        border-top: none;
      }
    }
  }
}
.table-striped tbody {
  td {
    border: none !important;
  }
  tr:nth-of-type(odd) {
    background-color: $table-row-bg-accent;
  }
}
.table-hover tbody tr:hover {
  background-color: $table-row-bg-hover;
  cursor: pointer;
}

.table-accordian {
  border-collapse: collapse;
  tbody {
    tr.accordian {
      td {
        padding: 0;
        overflow: hidden;
        border-top: none;
        border-bottom: $table-border;
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  &.table-striped tbody {
    tr {
      background-color: transparent;
      &:nth-of-type(4n+1) {
        &, & + .accordian, & + .accordian:hover {
          background-color: $table-row-bg-accent;
        }
      }
    }
  }
  &.table-hover tbody {
    tr:hover {
      &, & + .accordian {
        background-color: $table-row-bg-hover;
      }
      &.accordian {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

.card-header, .list-group-item {
  > h1,h2,h3,h4,h5,h6 {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card {
  $card-border: $menu-border;
  background-color: $menu-bg-color;
  border: $card-border;
  border-radius: 0;

  .card-header {
    border-color: $menu-border-color;
    padding: 12px 20px;
    &.grid-group {
      @include grid-group($card-border);
    }
  }

  > .list-group {
    margin: -1px;
    &:not(:first-child) .list-group-item:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:last-child) .list-group-item:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  > .table {
    margin-bottom: 0;
  }
}

.dropdown-menu {
  background-color: $menu-bg-color;
  border: $menu-border;
  .dropdown-item {
    color: $light-grey;
    font-weight: 200;
    @extend %menu-action;
  }
  .dropdown-divider {
    border-color: $secondary-color;
  }
}

.list-group {
  .list-group-item {
    background-color: $menu-bg-color;
    border: $menu-border;
    border-radius: 0;
    color: $light-grey;
    font-weight: 200;
    padding: 12px 20px;
    &.compact {
      padding: 8px 20px;
    }

    &.grid-group {
      @include grid-group($menu-border);
    }
  }
  .list-group-item-action {
    @extend %menu-action;
    @include not-disabled {
      &.active {
        border: 1px solid $secondary-color;
      }
    }
  }

  > .collapse {
    margin-bottom: -1px;
  }
}

.btn, button {
  @include not-disabled {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.btn-faast, .button-container {
  @extend .text-small;
  @extend .text-center;
  @extend .box-shadow;
  color: $secondary-color-text;
  font-weight: 300;
  line-height: 1.5em;
  border: 1px solid;
  @extend .gradient-border;
  @extend .gradient-background;
  border-radius: 0;
  padding: 15px 30px;

  @include not-disabled {
    @include hover {
      @extend .gradient-background-hover;
    }
    @include active {
      @extend .gradient-background-active;
    }
  }

  &.button-small, &.btn-sm {
    padding: 10px 20px;
  }
  &.button-outline, &.btn-outline-faast {
    background: $dark-grey;
    color: $secondary-color;
    @include not-disabled {
      @include hover {
        background: darken($dark-grey, $hover-darken-percent);
      }
      @include active {
        background: darken($dark-grey, $active-darken-percent)
      }
    }
  }
}