@import '~faast-ui/src/style/index.scss';
@import 'variables';

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.beta-tag {
  font-family: 'Kaushan Script', cursive;
  font-size: 12px;
  color: $primary;
}

span.faast-loading {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}
.faast-loading {
  background-image: url('~Img/loading-spinner.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  &.loading-small {
    height: 2px;
    width: 80px;
  }
  &.loading-medium {
    height: 4px;
    width: 160px;
  }
  &.loading-large {
    height: 8px;
    width: 320px;
  }
}

.redux-toastr {
  .toastr {
    border-radius: 0px;
    @extend .text-medium;
    &.rrt-error {
      background-color: #131313;
      border-bottom: 5px solid red;
    }
  }
  .rrt-middle-container {
    .rrt-title {
      font-size: 14px !important;
      letter-spacing: 1px;
      font-weight: 200 !important;
    }
  }
  .rrt-right-container {
    .close-toastr {
      font-size: 14px !important;
      color: white;
    }
  }
}

.download-keystore-icon {
  background-image: url(https://faa.st/img/faast-logo.png);
  background-size: 64px 64px;
  background-repeat: no-repeat;
}

/*review, in progress and completed swap styles starts here*/
.review-list {
  margin: auto;
  margin-top: 20px;

  .status {
    @extend .text-small;
    &.done {
      @extend .text-success;
    }
    &.in-progress {
      @extend .text-primary;
      @extend .blink;
    }
    &.failed {
      @extend .text-danger;
    }
    &.pending {
      @extend .text-grey;
    }
  }
}
/*review, in progress and completed swap styles ends here*/

.right-icon {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: auto;
  background-image: url(https://faa.st/img/right-icon.svg);
}

.instruction-icon {
  height: 48px;
  width: 48px;
  background-position: center center;
  background-size: auto 75%;
  background-repeat: no-repeat;

  &.pendrive {
    background-image: url('https://faa.st/img/pendrive.png');
  }

  &.smartphone {
    background-image: url('https://faa.st/img/smartphone.png');
  }

  &.browser {
    background-image: url('https://faa.st/img/browser.png');
  }

  &.refresh-arrow {
    background-image: url('https://faa.st/img/refresh-arrow.png');
  }

  &.export {
    background-image: url('https://faa.st/img/export.png');
  }

  &.pin-code {
    background-image: url('https://faa.st/img/pin-code.png');
  }
}
/*icons styles ends here*/

