@import '~faast-ui/src/style/index.scss';
@import 'variables';

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

.beta-tag {
  font-family: 'Kaushan Script', cursive;
  font-size: $font-size-xs;
  color: $primary;
}

.redux-toastr {
  .toastr {
    border-radius: $border-radius;
    box-shadow: $component-shadow;
    &.rrt-error {
      background-color: $ultra-dark;
      border-bottom: 5px solid $danger;
    }
  }
  .rrt-middle-container {
    .rrt-title {
      font-size: $font-size-sm !important;
      font-weight: $font-weight-base !important;
    }
  }
  .rrt-right-container {
    .close-toastr {
      font-size: $font-size-sm !important;
      color: $white;
    }
  }
}

/*review, in progress and completed swap styles starts here*/
.review-list {
  margin: auto;
  margin-top: 20px;

  .status {
    @extend .font-size-sm;
    &.done {
      @extend .text-success;
    }
    &.in-progress {
      @extend .text-primary;
      @extend .blink;
    }
    &.failed {
      @extend .text-danger;
    }
    &.pending {
      @extend .text-grey;
    }
  }
}
/*review, in progress and completed swap styles ends here*/
