@import '~faast-ui/src/style/index.scss';
@import 'variables';

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.beta-tag {
  font-family: 'Kaushan Script', cursive;
  font-size: 12px;
  color: $primary;
}

.redux-toastr {
  .toastr {
    border-radius: 0px;
    @extend .text-medium;
    &.rrt-error {
      background-color: #131313;
      border-bottom: 5px solid red;
    }
  }
  .rrt-middle-container {
    .rrt-title {
      font-size: 14px !important;
      letter-spacing: 1px;
      font-weight: 200 !important;
    }
  }
  .rrt-right-container {
    .close-toastr {
      font-size: 14px !important;
      color: white;
    }
  }
}

/*review, in progress and completed swap styles starts here*/
.review-list {
  margin: auto;
  margin-top: 20px;

  .status {
    @extend .text-small;
    &.done {
      @extend .text-success;
    }
    &.in-progress {
      @extend .text-primary;
      @extend .blink;
    }
    &.failed {
      @extend .text-danger;
    }
    &.pending {
      @extend .text-grey;
    }
  }
}
/*review, in progress and completed swap styles ends here*/
