@import "variables";

.container {
  background-color: $pageBgColor2;
}

.noAction {
  // @extend .margin-top-100;
}

.headerTitle {
  color: $primary-color;
  font-size: $text-large;
  @media #{$small-and-down} {
    text-align: center;
  }
}

.headerDesc {
  color: $medium-grey;
  font-size: $text-medium;
  @media #{$small-and-down} {
    font-size: $text-small;
    text-align: center;
    margin-top: 5px;
  }
}

.actions {
  @extend .gradient-background;
  height: 50px;
  color: $secondary-color-text;
  @extend .text-small;
  padding: 10px 20px;
  width: 250px;
  @extend .text-center;
  float: right;
  @extend .box-shadow;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  @extend .cursor-pointer;
  @extend .margin-top-15;
  @media #{$small-and-down} {
      width: 50%;
      float: left;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 30px;
      margin-right: 10px;
      left: 0;
      margin-top: 0px;
      position: absolute;
  }
}

.disabled {
  @extend .cursor-disabled;
  opacity: 0.6;
}

.searchForm {
  width: 100%;
}

.searchInput {
  @media #{$small-and-down} {
    margin-top: 40px;
  }
  font-size: $text-small;

  background-color: #121212;
  border: 1px solid #222222;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  @extend .text-x-small;
  width: 100%;
  display: block;
  outline: none;
  @extend .text-medium-grey;
  &:active, &:focus {
    outline: none;
    color: $secondary-color;
  }
}

button{
  @media #{$small-and-down} {
    margin-top: 40px;
  }
}
