@import "variables";

.background,
.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  background: $pageBgColor1;
  opacity: 0.6;
}

.loadingInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35%;
  position: relative;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinnerContainer {
  padding-top: 10px;
}

.spinner {
  color: $primary-color;
}
