//style sheet variables are declared here
// and then imported into style.scss file

//Fonts
@import url('https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
@import 'mixins/breakpoints';

$grid-breakpoints: (
  xxs: 0,
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@each $breakpoint in map-keys($grid-breakpoints) {
  :export {
    breakpoint-#{$breakpoint}: map-get($grid-breakpoints, $breakpoint);
  }
}

// Gutter sizes between row columns
$gutter-sizes: (
  no: 0px,
  tiny: 1px,
  x-small: 2px,
  small: 4px,
  medium: 8px,
  large: 12px,
  x-large: 16px
);

//Text sizes
$text-x-small: 12px;
$text-small: 14px;
$text-medium: 18px;
$text-large: 30px;
$text-x-large: 36px;

//Colors
$ultra-dark-grey: #181818;
$dark-grey: #202020;
$light-grey: #efefef;
$medium-grey: #a9a9a9;
$primary-color: #0dd3b9;
$secondary-color: #0dd390;
$secondary-color-text: #06412D;
$white: #ffffff;

$pageBgColor1: #1a1a1a;
$pageBgColor2: #121212;
$tileBgColor1: #1c1c1c;
$tileBgColor2: #131313;
$tileBgColor3: #191919;

$menu-bg-color: $ultra-dark-grey;
$menu-bg-color-accent: lighten($menu-bg-color, 2%);
$menu-bg-color-hover: lighten($menu-bg-color, 5%);
$menu-bg-color-active: lighten($menu-bg-color, 10%);

$menu-border-color: lighten($menu-bg-color, 5%);
$menu-border-color-accent: lighten($menu-bg-color-accent, 5%);
$menu-border-color-hover: lighten($menu-bg-color-hover, 5%);
$menu-border-color-active: lighten($menu-bg-color-active, 5%);

$menu-border-width: 1px;
$menu-border: solid $menu-border-width $menu-border-color;
$menu-border-hover: solid $menu-border-width $menu-border-color-hover;
$menu-border-active: solid $menu-border-width $menu-border-color-active;

$table-bg-color: $menu-bg-color;
$table-border-color: $menu-border-color;
$table-border: solid $menu-border-width $table-border-color;
$table-row-bg-accent: rgba(255, 255, 255, .02);
$table-row-bg-hover: rgba(255, 255, 255, .05);

//mixins
@mixin disabled {
  &:disabled, &.disabled {
    @content;
  }
}

@mixin not-disabled {
  &:not(:disabled):not(.disabled) {
    @content;
  }
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin active {
  &:active, &.active {
    @content;
  }
}

@mixin col {
  > .col,
  > [class*="col-"] {
    @content;
  }
}

@mixin flex($direction, $justify, $align) {
  display: -webkit-flex;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-grow($value) {
  flex-grow: $value;
}

@mixin gradient-background-variable($color-1, $color-2) {
  background: $primary-color; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom, $color-1, $color-2); /* Standard syntax */
}

@mixin respond-to($media) {
  @if $media == small-screens {
    @media (min-width: 320px) and (max-width: 991px) {
      @content;
    }
  }
  @else if $media == wide-screens {
    @media (min-width: 992px) {
      @content;
    }
  }
}

// Functions for getting parts of a border: https://stackoverflow.com/a/42276096
// Note! the null return will not be rendered 
@function get-border-width($input){
  @each $part in $input { @if type-of($part) == number { @return $part; } }   
  @return null;
}
@function get-border-style($input){
  @each $part in $input { @if type-of($part) == string { @return $part; } }   
  @return null;    
}
@function get-border-color($input){
  @each $part in $input { @if type-of($part) == color { @return $part; } }   
  @return null;    
}


//Common classes

.color-bg-1 {
  background-color: $tileBgColor1;
}

.color-bg-2 {
  background-color: $tileBgColor2;
}

.color-bg-3 {
  background-color: $tileBgColor3;
}

.gradient-text {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background: $primary-color; /* For browsers that do not support gradients */
  background: linear-gradient(to right, $primary-color, $secondary-color);
}

$hover-darken-percent: 7.5%;
.gradient-background-hover {
  background: darken($primary-color, $hover-darken-percent);
  background: linear-gradient(to right, darken($primary-color, $hover-darken-percent), darken($secondary-color, $hover-darken-percent));
}

$active-darken-percent: 10%;
.gradient-background-active {
  background: darken($primary-color, $active-darken-percent);
  background: linear-gradient(to right, darken($primary-color, $active-darken-percent), darken($secondary-color, $active-darken-percent));
}

.gradient-border {
  border-left-color: $primary-color;
  border-top-color: $primary-color;
  border-bottom-color: $secondary-color;
  border-right-color: $secondary-color;
}

.box-shadow {
  box-shadow: 5px 10px 15px #090909;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

.full-width {
  width: 100%;
}

.flex-row-center {
  @include flex(row, flex-start, center);
}

.word-break-all {
  word-break: break-all;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
    box-shadow: none;
  }
}

.cursor-disabled {
  &:hover {
    cursor: not-allowed;
    box-shadow: none;
  }
}

.pull-left { float: left; }
.pull-right { float: right; }
.clearfix { clear: both; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-x-small { font-size: $text-x-small; }
.text-small { font-size: $text-small; }
.text-medium { font-size: $text-medium; }
.text-large { font-size: $text-large; }
.text-x-large { font-size: $text-x-large; }

.text-primary { color: $primary-color !important; }
.text-light-grey { color: $light-grey; }
.text-medium-grey { color: $medium-grey; }
.text-dark-grey { color: $dark-grey; }
.text-gradient { @extend .gradient-text; }
.text-green { color: $secondary-color; }
.text-white { color: #ffffff; }
.text-orange { color: #FACC2E; }
.text-red { color: #BC1515; }

.flex-grow-1 { @include flex-grow(1); }

.margin-auto { margin: auto; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-75 { margin-top: 75px; }
.margin-top-100 { margin-top: 100px; }

.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-30 { margin-left: 30px; }

.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-30 { margin-right: 30px; }

.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-50 { margin-bottom: 50px; }

.padding-0 {
  padding: 0;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-0 {
  padding-right: 0;
}

.border-right-10 {
  border-right: 10px solid red;
}

.border-bottom-10 {
  border-bottom: 10px solid red;
}

.border-left-10 {
  border-left: 10px solid red;
}

.border-top-10 {
  border-top: 10px solid red;
}
