.gradient {
    position:absolute;
    z-index:2;
    right:0; 
    bottom:0; 
    left:0;
    top: 50px;
    height:300px;
    background: none;
    background: -moz-linear-gradient(top,  rgba(33,33,33,0) 0%, rgba(33,33,33,1) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(33,33,33,0)), color-stop(50%,rgba(33,33,33,1)));
    background: -webkit-linear-gradient(top,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 50%);
    background: -o-linear-gradient(top,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 50%);
    background: -ms-linear-gradient(top,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 50%);
    background: linear-gradient(to bottom,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00212121', endColorstr='#212121',GradientType=0 );
}

.walletList {
    max-height: calc(100vh - 100px); 
    min-height: 500px;
    overflow-y: scroll;
    border-right: 1px solid #353535;
    background-color: #212121;
}

.walletDetail {
    max-height: calc(100vh - 100px); 
    min-height: 500px;
    overflow-y: scroll;
}

@media screen and (max-width: 983px) {
    .walletDetail {
        max-height: 100%;
        position: relative;
        z-index: 9;
        height: 100%;
    }
    .walletList {
        position: absolute;
        width: 100%;
        max-height: 100%;
        height: 100%;
        z-index: 9999;
    }
}