@import "~Styles/variables";

$collapse-table: md;

:export {
  collapseTablePoint: $collapse-table;
}

.header {
  background-color: $pageBgColor2;
}

.tileContainer {
  background-color: $ultra-dark-grey;
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  padding: 16px;
  box-shadow: 5px 10px 15px #090909;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.tableCell {
  text-align: right;
  align-self: center;
  &, p {
    color: #dedede;
  }
  p {
    margin: 0;
    padding: 0;
    + p {
      font-size: 0.8em;
      margin-top: 4px;
      color: #ddd;
    }
  }
  @include media-breakpoint-down($collapse-table) {
    font-size: $text-small;
  }
}

.modifyAssetList {
  @include media-breakpoint-down(md) {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.greyStatus {
  @extend .text-medium-grey;
}

.editable {
  color: $primary-color;
  @extend .cursor-pointer;
}

.editableEditing {
  text-decoration: none;
  background-color: inherit;
  width: calc(100% - 30px);
  color: $secondary-color;
  outline: 0;
  border: 1px solid $secondary-color;
  @extend .gradient-border;
  position: relative;
  padding: 2px;

  /* Spin Buttons modified */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: $secondary-color url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    @extend .cursor-pointer;
  }
}
