.row div div:nth-child(1) {
  max-width: 325px;
}
.row div div:nth-child(1) p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  position: relative;
  top: 5px;
}

.statContainer {
  border-radius: 4px;
  background: #00c7b6;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 4px 1px !important;
}

.lightInput {
  background-color: white !important;
  border-color: #ECECEF !important;
  color: #3C3C40 !important;

  &::placeholder {
    color: #777 !important;
  }
}

.statCol {
  padding-top: 7px;
  padding-bottom: 13px;
}

.row div div:nth-child(1) p:nth-of-type(1) {
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
}
.stat1 {
  background-image: linear-gradient(0deg, #442D9E 28%, #6379DB 100%);
  box-shadow: 0 3px 4px 1px rgba(175,194,219,0.36);
  border-radius: 4px;
}
.stat2 {
  background-image: linear-gradient(-180deg, #2EA0EF 50%, #2B53A0 100%);
  box-shadow: 0 3px 4px 1px rgba(175,194,219,0.36);
  border-radius: 4px;
}
.stat3 {
  background-image: linear-gradient(-180deg, #4AD6D5 50%, #008372 100%);
  box-shadow: 0 3px 4px 1px rgba(175,194,219,0.36);
  border-radius: 4px;
}