@import "~Styles/variables";

$collapse-table: md;

:export {
  collapseTablePoint: $collapse-table;
}

.areaChartContainer {
  padding-right: 10px;
  padding-left: 0px;
  margin-bottom: 50px;
}

.tileContainer {
  background-color: $ultra-dark-grey;
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  padding: 20px;
  box-shadow: 5px 10px 15px #090909;
}

.tileContainerAddress {
  background-color: $ultra-dark-grey;
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  padding: 20px;
  box-shadow: 5px 10px 15px #090909;
  text-align: center;
}

.chart {
  background-color: $ultra-dark-grey;
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  padding: 20px;
  box-shadow: 5px 10px 15px #090909;
}

.upIcon {
  background-image: url(https://faa.st/img/up-icon.svg);
}

.downIcon {
  background-image: url(https://faa.st/img/down-icon.svg);
}

.changeIcon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.changeUpIcon {
  @extend .changeIcon;
  @extend .upIcon;
}

.changeDownIcon {
  @extend .changeIcon;
  @extend .downIcon;
}

.addressLink {
  @include media-breakpoint-down(xs) {
    font-size: $text-x-small;
  }
  overflow-wrap: break-word;
}

.statsTitle, .addressTitle {
  @extend .text-small;
  @extend .text-medium-grey;
}

.statsContent {
  @extend .text-medium;
}

.chartContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.chartInnerContainer {
  // @extend .padding-0;
  @extend .tileContainer;
}

.chart {
  height: 400px;
}

.assetTitle {
  // @extend .gradient-text;
  font-size: $text-medium;
}

.assetPrice {
  @extend .clearfix;
}

.link {
  @extend .text-gradient;
  @extend .cursor-pointer;
}

.tableHeaderRow {
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  @extend .box-shadow;
  padding: 20px 16px;
}

.tableHeader {
  @extend .tableHeaderRow;
  @include media-breakpoint-down($collapse-table) {
    padding: 16px 8px;
  }
}

.gradientSeparator {
 height: 1px;
 padding: 0;
 @extend .gradient-background;
 opacity: 0.4;
}

.columnTitle {
  font-weight: 300;
  @extend .gradient-text;
  @extend .text-small;
  text-align: right;
  align-self: center;
  @include media-breakpoint-down($collapse-table) {
    font-size: $text-x-small;
  }
}

.tableRow {
  @extend .tableHeaderRow;
  @include media-breakpoint-down($collapse-table) {
    padding: 8px;
  }
}

.tableRowAction {
  &:hover, &:focus {
    cursor: pointer;
    background: $dark-grey;
  }
}

.tableCell {
  text-align: right;
  align-self: center;
  &, p {
    color: #dedede;
  }
  p {
    margin: 0;
    padding: 0;
    + p {
      font-size: 0.8em;
      margin-top: 4px;
      color: #ddd;
    }
  }
  @include media-breakpoint-down($collapse-table) {
    font-size: $text-small;
  }
}

.tableCoinIcon {
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  @include media-breakpoint-down($collapse-table) {
    margin: auto;
  }
}

.tableCoinName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include media-breakpoint-down($collapse-table) {
    font-size: 0.8em;
  }
}

.tableChangeIcon {
  height: 18px;
  width: 18px;
  margin: 0px 5px 0px 0px;
  @extend .pull-right;
}

.tableChangeUpIcon {
  @extend .tableChangeIcon;
  @extend .upIcon;
}

.tableChangeDownIcon {
  @extend .tableChangeIcon;
  @extend .downIcon;
}

.priceIncrease {
  color: #0DD390 !important;
}

.priceDecrease {
  color: #BC1515 !important;
}

.viewMode {
  @extend .gradient-text;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: $medium-grey;
  padding: 5px;
}
