@import "~Styles/variables";

.statsContainer {
  @extend .margin-top-40;
}

.tileOuterContainer {
  padding-right: 10px;
  padding-left: 0px;
  &:last-child {
    padding-right: 0px;
  }
}

.areaChartContainer {
  padding-right: 10px;
  padding-left: 0px;
  margin-bottom: 50px;
}

.tileContainer {
  background-color: $ultra-dark-grey;
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  padding: 20px;
  box-shadow: 5px 10px 15px #090909;
}

.upIcon {
  background-image: url(https://faa.st/img/up-icon.svg);
}

.downIcon {
  background-image: url(https://faa.st/img/down-icon.svg);
}

.changeIcon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.changeUpIcon {
  @extend .changeIcon;
  @extend .upIcon;
}

.changeDownIcon {
  @extend .changeIcon;
  @extend .downIcon;
}

.statsTitle, .addressTitle {
  @extend .text-small;
  @extend .text-medium-grey;
}

.statsContent {
  @extend .text-medium;
}

.chartContainer {
  @extend .padding-top-20;
  @extend .margin-bottom-20;
}

.chartInnerContainer {
  // @extend .padding-0;
  @extend .tileContainer;
}

.chart {
  height: 400px;
}

.assetTitle {
  // @extend .gradient-text;
  font-size: $text-medium;
}

.assetPrice {
  @extend .clearfix;
}

.link {
  @extend .text-gradient;
  @extend .cursor-pointer;
}

.tableHeader {
  @extend .text-center;
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  @extend .box-shadow;
  padding: 20px 5px;
  letter-spacing: 1px;
}

.gradientSeparator {
 height: 1px;
 padding: 0;
 @extend .gradient-background;
 opacity: 0.4;
}

.columnTitle {
  font-weight: 300;
  @extend .gradient-text;
  @extend .text-small;
  @extend .text-shadow;
}

.tableRow {
  @extend .text-center;
  letter-spacing: 1px;
  @include gradient-background-variable($tileBgColor1, $tileBgColor2);
  @extend .box-shadow;
  padding: 20px 5px;
  @extend .text-center;
  &:hover {
    cursor: pointer;
    background: $dark-grey;
  }
}

.tableCell {
  @extend .text-small;
}

.tableCoinIcon {
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  @extend .pull-left;
}

.tableCoinName {
  @extend .pull-left;
  text-align: left;
  white-space: nowrap;
  width: calc(100% - 36px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableChangeValue {
  @extend .pull-right;
}

.tableChangeIcon {
  height: 18px;
  width: 18px;
  margin: 0px 5px 0px 0px;
  @extend .pull-right;
}

.tableChangeUpIcon {
  @extend .tableChangeIcon;
  @extend .upIcon;
}

.tableChangeDownIcon {
  @extend .tableChangeIcon;
  @extend .downIcon;
}

.viewMode {
  @extend .gradient-text;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: $medium-grey;
  padding: 5px;
}

// .container {
//   height: calc(100% - 30px);
// }
//
// .address {
//   height: 50px;
// }
//
// .swapBar {
//   height: 40px;
//   border-top: 1px solid white;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   padding-left: 10px;
//   padding-right: 10px
// }
//
// .inProgress {
//   text-align: left;
// }
//
// .details {
//   color: $primary-color;
//   cursor: pointer;
//   text-decoration: underline;
// }
//
// .slider {
//   display: flex;
//   justify-content: space-between;
// }
//
// .cancel {
//   @extend .select;
// }
//
// .done {
//   @extend .select;
//   color: $primary-color;
// }
//
//
// .options {
//   text-align: left;
// }
//
// .option {
//   @extend .select;
//   color: $primary-color;
// }
