@import "~Styles/variables";

$collapse-table: md;

:export {
  collapseTablePoint: $collapse-table;
}

.upIcon {
  background-image: url(https://faa.st/img/up-icon.svg);
}

.downIcon {
  background-image: url(https://faa.st/img/down-icon.svg);
}

.changeIcon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.changeUpIcon {
  @extend .changeIcon;
  @extend .upIcon;
}

.changeDownIcon {
  @extend .changeIcon;
  @extend .downIcon;
}

.addressLink {
  @include media-breakpoint-down(xs) {
    font-size: $text-x-small;
  }
  overflow-wrap: break-word;
}

.statsTitle, .addressTitle {
  @extend .text-small;
  @extend .text-medium-grey;
}

.statsContent {
  @extend .text-medium;
}

.chart {
  height: 400px;
}

.balanceTable {
  td, th {
    text-align: right;
    &:first-child {
      text-align: left;
      @include media-breakpoint-down($collapse-table) {
        text-align: center;
      }
    }
  }
  td {
    &, p {
      color: #dedede;
    }
    p {
      margin: 0;
      padding: 0;
      + p {
        font-size: 0.8em;
        margin-top: 4px;
        color: #ddd;
      }
    }
    @include media-breakpoint-down($collapse-table) {
      font-size: $text-small;
    }
  }
}

.gradientSeparator {
  height: 1px;
  padding: 0;
  @extend .gradient-background;
  opacity: 0.4;
}

.tableCoinIcon {
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  @include media-breakpoint-down($collapse-table) {
    margin: auto;
  }
}

.tableCoinName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include media-breakpoint-down($collapse-table) {
    font-size: 0.8em;
  }
}

.viewMode {
  @extend .gradient-text;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: $medium-grey;
  padding: 5px;
}
