.light {

  & div {
    background-color: #fff !important;
    border-color: #ECECEF !important;
    color: #3C3C40 !important;
  }

  & .disabledCover {
    background-color: rgba(0, 0, 0, .03) !important;
  }

  & small,
  span {
    color: #3C3C40 !important;
  }

  & input {
    background-color: white !important;
    border-color: #ECECEF !important;
    color: #3C3C40 !important;

    &::placeholder {
      color: #777 !important;
    }
  }

  &.assetDisabledLink {
    color: #3C3C40 !important;
  }

  &.assetListDisabledMessage {
    background-color: transparent !important;
  }
}

.assetButtonList {
  display: flex !important;
  background-color: #1F1F1F;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
  opacity: 1 !important;
  border-radius: 0px !important;

  &:hover:not(:disabled) {
    .assetButtonIcon {
      opacity: 1.0;
    }
  }
}

.assetButtonIcon {
  opacity: 1;
  margin-bottom: 16px;
}

.assetDisabledLink {
  opacity: .5;
  text-decoration: none !important;

  &:hover {
    opacity: 1;
  }
}

.assetListDisabledMessage {
  color: #605D5D !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.disabledCover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 9999;
}