.metaMaskContainer {
  background-color: #eeeeee;
  color: #4d4d4d;
  padding: 20px;
}
/*metamask svg container*/
.metaMaskIconContainer {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

.wordBreak {
  word-break: break-all;
}

/*metamask total styling - keeping if added back*/
.total {
  color: rgb(47, 154, 224);
}

.trezorScreen {
  position: relative;
  width: 200px;
  padding: 8px 8px 8px 40px;
  background-color: #000;
  color: #FFFFFF;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
}
.ledgerScreen {
  background-color: #000;
  color: #00FFFF;
}
/*octagon in trezor instructions component*/
.outerOctagon{
  width: 22px;
  height: 22px;
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
}
.octagon {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  overflow: hidden;
  transform: rotate(45deg);
  background: #fff;
  color:#000;
}
.octagon:before {
  content: '?';
  position: absolute;
  transform: rotate(-45deg);
  left: 8px;
  top: 0px;
  font-size: 14px;
}
