@import '~Styles/variables';

.assetListContainer {
  position: absolute;
  z-index: 99999;
  top: 30px;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 983px) {
  .assetListContainer {
    top: 0px;
    width: 100%;
    padding-left: 17%;
    z-index: 99999;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .assetListContainer {
    top: 0px;
    width: 100%;
    padding-left: 25%;
    z-index: 99999;
  }
}

.container {
  background: #fff;
  box-shadow: none;
  border: none;
  border: 1px solid #EAEEF3;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  &.stepOne {
    max-width: 540px;
  }

  &.stepTwo {
    max-width: 640px;
  }
}

.inputButton {
  background-color: transparent !important;
  border: 1px solid #EAEEF3 !important;
  color: #101010 !important;
  // transition: all .2s ease-in-out;

  &:hover {
    background-color: #fcfcfd !important;
  }
}

.customLabel {
  color: #4C4D4E;
  font-weight: 600;
  font-size: 13px;
}

.customInput {
  background-color: #FFF !important;
  border: 1px solid #EAEEF3 !important;
  border-radius: 4px;
  color: #3C3C40 !important;
  width: 100%;
  &::placeholder {
    color: #9C9FA8 !important;
  }
}

.customButton {
  background: #00D7B8;
  box-shadow: none;
  color: #054F45 !important;
  font-weight: 600;
  border-radius: 4px;
  width: 100%;
  &:hover {
    border: 1px solid transparent;
  }
}

.reverse {
  margin: 0 0 0 0;
  height: 42px;
  width: 42px;
  box-shadow: none;
  line-height: 0;
  border: 1px solid #EAEEF3;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  svg {
    fill: #000;
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
  }
  &:hover {
    background-color: #fcfcfd !important;
  }
}

.submitButton {
  display: block;
  max-width: 480px;
  width: 95%;
}

.receipt {
  top: 0px;
  position: absolute;
  left: 0px;
  display: block;
  width: 100%;
  height: 6px;
  background: linear-gradient(-135deg, #353535 3px, transparent 0px) 0% 0% / 6px 6px repeat-x, linear-gradient(135deg, #353535 3px, transparent 0px);
  background-repeat: repeat-x;
}

@include media-breakpoint-down(md) {
  .reverse {
    margin: 0 0 1rem 0;
  }
}