.navbar {
  background-color: #383946 !important;
  box-shadow: 0px 3px 5px 0px rgba(117, 127, 131, 0.4) !important;
}
.navbarBrand {
  color: #525252 !important;
  font-size: 18px;
}
.navbarLink {
  font-size: 14px !important;
  font-weight: 600;
  color: #A1ABB3 !important;
  transition: all .2s ease-in-out;
  &:hover {
    opacity: .85;
  }
}

.buttonText {
  font-size: 14px !important;
  background: transparent !important;
  border: none !important;
  color: #fff;
  border-bottom: 1px dotted #00c7b6 !important;
  border-radius: 0px !important;
  transition: all .2s ease-in-out;
  &:hover {
    color: rgba(255,255,255,.8);
  }
}

.active {
  color: #fff !important;
}

.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

.blob.green {
	background: rgba(51, 217, 178, 1);
	box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
	animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}