@import "~Styles/variables";

.addressText {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.closeButton {
  float: right;
  border: none;
  background: none;
  @extend .cursor-pointer;
}

.closeIcon {
  @extend .text-gradient;
}

.link {
  @extend .text-medium-grey;
}
