@import "~Styles/variables";

.addressText {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  overflow-wrap: break-word;
}

.qrOuterContainer {
  display: flex;
  justify-content: center;
}

.qrInnerContainer {
  border: .25in solid white;
}
