@import "~Styles/variables";

.addNew {
  background-image: url('https://faa.st/img/add.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 100%;
}

.tileBorder {
  border: 1px solid darken($secondary-color, 20%);
  &:hover {
    border-color: darken($secondary-color, 10%) !important;
  }
}
