@import '~Styles/variables';

.mediaBody {
  position: relative; 
  top: -2px;
  width: 100%;
  max-width: 175px;
}

.indexTable {
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 0;
  cursor: pointer;
  td {
    vertical-align: middle;
    padding: .6rem;
  }
}

.sortingArrow {
  width: 12px; 
  fill: rgba(255, 255, 255, 0.9);
}
