@import "~Styles/variables";

.header {
  background-color: $pageBgColor2;
  // The following ensures the background color covers the page container padding
  // preventing transparent edges from showing on mobile when stickied
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.headerTitle {
  color: $primary-color;
  font-size: $text-large;
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
}

.headerDesc {
  color: $medium-grey;
  font-size: $text-medium;
  @include media-breakpoint-down(xs) {
    font-size: $text-small;
    text-align: center;
    margin-top: 5px;
  }
}

.searchForm {
  width: 100%;
}

.searchInput {
  font-size: $text-small;

  background-color: #121212;
  border: 1px solid #222222;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  @extend .text-x-small;
  width: 100%;
  display: block;
  outline: none;
  @extend .text-medium-grey;
  &:active, &:focus {
    outline: none;
    color: $secondary-color;
  }
}
