@import "~Styles/variables";

.header {
  background-color: $pageBgColor;
  padding-bottom: 8px;
  padding-top: 8px;
  // The following ensures the background color covers the page container padding
  // preventing transparent edges from showing on mobile when stickied
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}

.headerTitle {
  color: $primary-color;
  font-size: $text-large;
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
}

.headerDesc {
  color: $medium-grey;
  font-size: $text-medium;
  @include media-breakpoint-down(xs) {
    font-size: $text-small;
    text-align: center;
    margin-top: 5px;
  }
}
