@import "~Styles/variables";

.container {
  background-color: $pageBgColor2;
}

.noAction {
  // @extend .margin-top-100;
}

.headerTitle {
  color: $primary-color;
  font-size: $text-large;
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
}

.headerDesc {
  color: $medium-grey;
  font-size: $text-medium;
  @include media-breakpoint-down(xs) {
    font-size: $text-small;
    text-align: center;
    margin-top: 5px;
  }
}

.actions {
  @extend .gradient-background;
  color: $secondary-color-text;
  @extend .text-small;
  padding: 10px 20px;
  @extend .text-center;
  @extend .box-shadow;
  font-weight: 300;
  line-height: 30px;
  @extend .cursor-pointer;
}

.disabled {
  @extend .cursor-disabled;
  opacity: 0.6;
}

.searchForm {
  width: 100%;
}

.searchInput {
  @include media-breakpoint-down(xs) {
    margin-top: 40px;
  }
  font-size: $text-small;

  background-color: #121212;
  border: 1px solid #222222;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  @extend .text-x-small;
  width: 100%;
  display: block;
  outline: none;
  @extend .text-medium-grey;
  &:active, &:focus {
    outline: none;
    color: $secondary-color;
  }
}

button{
  @include media-breakpoint-down(xs) {
    margin-top: 40px;
  }
}
