@import "~Styles/variables";

.innerknob {
  background-color: $primary;
  @extend .cursor-pointer;
}
.innerprogress {
  background-color: $grey-dark;
  div {
    span:last-child {
      background-color: $primary;
    }
  }
}
.value {
  background-color: $primary;
}