.container {
    background: #1C1C1C;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
}
button {
    cursor: pointer;
}
.asset {
    display: inline-block;
    vertical-align: middle;
    width: 216px;
    min-height: 102px;
    line-height: 67px;
    p {
        position: relative;
        bottom: 2px;
        height: 0px;
        margin: 0;
    }
}
.swap {
    border: none !important;
    margin: 0;
    background: transparent !important;
}
.swap {
    svg {
        fill: #565656;
    }
    &:hover svg {
        fill: #777;
    }
}
.section {
    margin:10px auto 0 auto;
    max-width: 500px;
    padding: 20px 16px;
    min-height: 156px;
    .icon {
        color: #05B8AB;
    }
}
.receive {
    border-color: #6bada7 !important;
}
.submitButton {
    display:block;
    max-width: 468px;
    width: 95%;
}
.fadedWhite {
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 560px) {
    .btn {
      display: block !important;
      margin: 25px auto 25px auto;
    }
    .swap {
      display:block;
      margin: 15px auto 0 auto;
      transform: rotate(90deg)
    }
}
