@import '~Styles/variables';

.container {
  background: #1C1C1C;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  &.stepOne {
    max-width: 960px;
  }
  &.stepTwo {
    max-width: 640px;
  }
}
.reverse {
  margin: 2rem 0 0 0;
  height: 42px;
  box-shadow: none;
  line-height: 0;
  svg {
    fill: #000;
    width: 16px;
    height: 16px;
  }
}
.submitButton {
  display: block;
  max-width: 480px;
  width: 95%;
}
.receipt {
  top: 0px;
  position: absolute;
  left: 0px;
  display: block;
  width: 100%;
  height: 6px;
  background: linear-gradient(-135deg, #353535 3px, transparent 0px) 0% 0% / 6px 6px repeat-x, linear-gradient(135deg, #353535 3px, transparent 0px);
  background-repeat: repeat-x;
}
@include media-breakpoint-down(md) {
  .reverse {
    margin: 0 0 1rem 0;
    svg {
      transform: rotate(90deg);
    }
  }
}
