.container {
    background: #1C1C1C;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    &.stepOne {
      max-width: 960px;
    }
    &.stepTwo {
      max-width: 640px;
    }
}
button {
    cursor: pointer;
}
.reverse {
    border: none !important;
    margin: 0;
    background: transparent !important;
    svg {
        fill: #565656;
    }
    &:hover svg {
        fill: #777;
    }
}
.submitButton {
    display: block;
    max-width: 480px;
    width: 95%;
}
.receipt {
    top: 0px;
    position: absolute;
    left: 0px;
    display: block;
    width: 100%;
    height: 6px;
    background: linear-gradient(-135deg, #353535 3px, transparent 0px) 0% 0% / 6px 6px repeat-x, linear-gradient(135deg, #353535 3px, transparent 0px);
    background-repeat: repeat-x;
}
@media screen and (max-width: 560px) {
    .reverse {
      display: block;
      margin: 15px auto 0 auto;
      transform: rotate(90deg)
    }
}
