@import "~Styles/variables";

.dropzoneContent {
  border: 1px dashed $secondary-color;
  position: relative;
  padding: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
