.faq {
  border-radius: 2px;
  background-color: #F9FAFB !important;
  border: 1px solid #e7eaee !important;
  color: rgb(97, 103, 121);
}

.sectionContainer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sectionIntro {
  color: #8B92A8;
  font-size: 32px;
  font-weight: 600;
}

.heroTitle {
  font-size: 48px;
}

.link {
  text-decoration: none !important;
  transition: all .2s ease-in-out;
  font-weight: 600;
  font-size: 19px;

  & i {
    transition: all .2s ease-in-out;
    position: relative;
    left: 10px;
    top: 1px;
  }

  &:hover i {
    left: 13px;
  }
}

.stackGradient {
  background-image: linear-gradient(0deg, rgba(26, 33, 42, 0.19) 0%, rgba(84, 52, 133, 0.19) 48%, rgba(25, 32, 41, 0.19) 100%);
}

.shadow {
  box-shadow: 0 2px 8px 0 #181A19;
}

.shadowLight {
  box-shadow: 0 2px 8px 0 rgba(169,191,213,0.50);
}

.sectionTitle {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  margin: 15px 0px 15px 0px;
}

.sectionLink {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.sectionDescription {
  color: #B3BCD8;
  font-size: 22px;
  line-height: 1.7;
}

.subtitle {
  width: 50%;
}

.why {
  width: 80%;
}

.blobs {
  -webkit-filter: url("#goo");
          filter: url("#goo");
  position: relative;
  height: 100%;
  width: 300px;
  margin: 0 auto;
  top: 20px;
}

.numbers {
  display: inline-block;
  border: 1px groove #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}

@-webkit-keyframes blob-left-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  62% {
    -webkit-transform: scale(0.7) translate(-65px, -65px);
            transform: scale(0.7) translate(-65px, -65px);
  }
  94% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}

@keyframes blob-left-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  62% {
    -webkit-transform: scale(0.7) translate(-65px, -65px);
            transform: scale(0.7) translate(-65px, -65px);
  }
  94% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-right-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  64% {
    -webkit-transform: scale(0.7) translate(65px, -65px);
            transform: scale(0.7) translate(65px, -65px);
  }
  96% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-right-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  64% {
    -webkit-transform: scale(0.7) translate(65px, -65px);
            transform: scale(0.7) translate(65px, -65px);
  }
  96% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-left-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  66% {
    -webkit-transform: scale(0.7) translate(-65px, 65px);
            transform: scale(0.7) translate(-65px, 65px);
  }
  98% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-left-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  66% {
    -webkit-transform: scale(0.7) translate(-65px, 65px);
            transform: scale(0.7) translate(-65px, 65px);
  }
  98% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-right-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  68% {
    -webkit-transform: scale(0.7) translate(65px, 65px);
            transform: scale(0.7) translate(65px, 65px);
  }
  100% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-right-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  68% {
    -webkit-transform: scale(0.7) translate(65px, 65px);
            transform: scale(0.7) translate(65px, 65px);
  }
  100% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
.blob {
  position: absolute;
  background: #FADA9A;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
          animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
}
.blob:nth-child(2) {
  -webkit-animation-name: blob-right-top-anim;
          animation-name: blob-right-top-anim;
}
.blob:nth-child(3) {
  -webkit-animation-name: blob-left-bottom-anim;
          animation-name: blob-left-bottom-anim;
}
.blob:nth-child(4) {
  -webkit-animation-name: blob-right-bottom-anim;
          animation-name: blob-right-bottom-anim;
}

@media screen and (max-width: 983px) {
  .textContainer {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .subtitle {
    width: 90%;
  }
  .why {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .textContainer {
    max-width: 100% !important;
  }
}