.faq {
  border-radius: 2px;
  background-color: #fff !important;
  border: 1px solid #f2f5f8;
  color: rgb(97, 103, 121);
}

.blobs {
  -webkit-filter: url("#goo");
          filter: url("#goo");
  position: relative;
  height: 100%;
  width: 300px;
  margin: 0 auto;
  top: 20px;
}

.numbers {
  display: inline-block;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
}

@-webkit-keyframes blob-left-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  62% {
    -webkit-transform: scale(0.7) translate(-65px, -65px);
            transform: scale(0.7) translate(-65px, -65px);
  }
  94% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}

@keyframes blob-left-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  62% {
    -webkit-transform: scale(0.7) translate(-65px, -65px);
            transform: scale(0.7) translate(-65px, -65px);
  }
  94% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-right-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  64% {
    -webkit-transform: scale(0.7) translate(65px, -65px);
            transform: scale(0.7) translate(65px, -65px);
  }
  96% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-right-top-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  64% {
    -webkit-transform: scale(0.7) translate(65px, -65px);
            transform: scale(0.7) translate(65px, -65px);
  }
  96% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-left-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  66% {
    -webkit-transform: scale(0.7) translate(-65px, 65px);
            transform: scale(0.7) translate(-65px, 65px);
  }
  98% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-left-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-65px, 0);
            transform: scale(0.9) translate(-65px, 0);
  }
  66% {
    -webkit-transform: scale(0.7) translate(-65px, 65px);
            transform: scale(0.7) translate(-65px, 65px);
  }
  98% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-right-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  68% {
    -webkit-transform: scale(0.7) translate(65px, 65px);
            transform: scale(0.7) translate(65px, 65px);
  }
  100% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-right-bottom-anim {
  0% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(65px, 0);
            transform: scale(0.9) translate(65px, 0);
  }
  68% {
    -webkit-transform: scale(0.7) translate(65px, 65px);
            transform: scale(0.7) translate(65px, 65px);
  }
  100% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
}
.blob {
  position: absolute;
  background: #FADA9A;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
          animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
}
.blob:nth-child(2) {
  -webkit-animation-name: blob-right-top-anim;
          animation-name: blob-right-top-anim;
}
.blob:nth-child(3) {
  -webkit-animation-name: blob-left-bottom-anim;
          animation-name: blob-left-bottom-anim;
}
.blob:nth-child(4) {
  -webkit-animation-name: blob-right-bottom-anim;
          animation-name: blob-right-bottom-anim;
}