@import "~Styles/variables";

.note {
  font-size: 0.9em;
  color: $secondary-color;
  @extend .cursor-pointer;
}

.reviewContainerPhone {
  width: 50%;
  margin-left: 10px;
}

.transferIcon{
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 50%;
  background-image: url(https://faa.st/img/up-icon.svg);
  transform: rotate(180deg);
}
