.step {
  text-align: center;
  font-size: 12px;
  color: #666;
  cursor: default;
  margin: 0px 0px 0px -2px;
  padding: 10px 10px 8px 12px;
  background-color: #272727;
  border: 1px solid #353535;
  border-radius: 2px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.step.current {
  color: #fff;
  background-color: #23D6B8;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
}
