@import '~faast-ui/src/style/index.scss';
@import 'plugins/Brands';
@import 'plugins/Features-Boxed';
@import 'plugins/Features-Clean';
@import 'plugins/Footer-Clean';
@import 'plugins/Highlight-Phone';
@import 'plugins/Navigation-With-Button';
@import 'plugins/Newsletter-Subscription-Form';
@import 'plugins/Paralax-Hero-Banner';
@import 'plugins/Team-Clean';
@import 'plugins/sendpulse';

/* Currency carousel */
#currency-icons-wrapper {
  height: 11.5rem;
  position: relative;
  overflow: hidden;
}
#currency-icons {
  height: 100%;
  z-index: 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}
.currency-icons-arrow {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 4rem;
}
.currency-icons-arrow:hover {
  color: hsla(0,0%,100%,.7);
  cursor: pointer;
}
#currency-icons-left {
  left: 0;
  -webkit-box-shadow: inset 80px 0px 40px -40px rgba(1,82,71,1);
  -moz-box-shadow: inset 80px 0px 40px -40px rgba(1,82,71,1);
  box-shadow: inset 80px 0px 40px -40px rgba(1,82,71,1);
}
#currency-icons-right {
  right: 0;
  -webkit-box-shadow: inset -80px 0px 40px -40px rgba(1,82,71,1);
  -moz-box-shadow: inset -80px 0px 40px -40px rgba(1,82,71,1);
  box-shadow: inset -80px 0px 40px -40px rgba(1,82,71,1);
}
.currency-icon {
  text-align: center;
  width: 8.5rem;
  padding: 0 0.25rem;
}
.currency-icon-img {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0.5rem 0;
}
.currency-icon-label {
  height: 3rem;
}
.currency-icon-label p {
  margin: 0;
}
.slick-interface-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: #074139; /* Old browsers */
  background: -moz-linear-gradient(top, #074139 0%, #181818 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #074139 0%,#181818 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #074139 0%,#181818 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: solid 1px #212121;
}
.wallet-logo {
  background-color: #212121;
  padding-bottom: 13px;
  padding-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 48px;
  padding-left: 48px;
  height: 72px;
}
