.text {
  color: #525252;
}
.card {
  background-color: #fff;
  border: none;
  box-shadow: 0px 3px 4px 1px rgba(207, 219, 224, .17) !important;
  border-radius: 2px;
}
.smallCard {
  max-width: 600px;
}

.affilateTable {
  background-color: #fff;
  th {
    border-color: #ebeff1 !important;
    border-top: none !important;
  }
  tr td {
    border: none !important;
  }
  tr:nth-child(even) {
    background-color: #fafbfd !important;
  }
}

.cardHeader {
  background: #fff;
  border-color: #ECECEC;
  color: #525252;
}

.cardFooter {
  background-color: #fff;
  border-color: #ECECEC;
}

.input {
  background-color: #fafbfd !important;
  border-color: #ebeff1 !important;
  color: #596872 !important;
  &::placeholder {
    color: #798893;
  }
}