@import "~Styles/variables";

$stack-point: xs;
$inline-point: breakpoint-next($stack-point);

.dataLayout {
  line-height: 1.25;

  @include media-breakpoint-down($stack-point) {
    tr:not(:first-child) {
      .dataLabel {
        padding-top: 0.5rem;
      }
    }
  }
}

.dataLabel {
  white-space: nowrap;
  padding-right: 8px;
  vertical-align: top;
  font-weight: bold;
}

.dataValue {
  word-break: break-all;
}

.dataValueDesktop {
  @extend .dataValue;
  @include media-breakpoint-down($stack-point) {
    display: none;
  }
}

.dataValueMobile {
  @extend .dataValue;
}

.dataRowMobile {
  @include media-breakpoint-up($inline-point) {
    display: none;
  }
}
