@import "~Styles/variables";

.container {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  height: 100%;
  margin: 0;
}

.content {
  background-color: #121212;
  min-height: 820px;
  padding: 0;
}
