@import "~Styles/variables";

.overlay {
  background-color: rgba($pageBgColor, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 202;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}