.card {
  background-color: #fff !important;
  border: none !important;
  box-shadow: 0px 3px 4px 1px rgba(207, 219, 224, .17) !important;
  border-radius: 2px !important;
  color: #525252 !important;
}

.darkestText {
  color: #2f2f2f !important;
}

.darkText {
  color: #525252 !important;
}
.subtitleText {
  color: #85919e !important;
}