.formSteps {
	display: block;
	width: 100%;
	position: relative;
  margin: 10px auto;
  text-align:center;
	
	&:after {
		content: "";
    display: table;
    clear: both;
	}

	&Item {
		padding: 0;
		position: relative;
		display: inline-block;
		width: 33%;
		text-align: center;
	}

	&ItemContent {
		display: inline-block;
	}
	// Step Icon
	&ItemIcon {
		background: #eceff1;
		color: #8191ab;
		display: block;
		border-radius: 100%;
		text-align: center;
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin: 0 auto 10px auto;
		position: relative;
		font-size: 13px;
		font-weight: 700;
		z-index: 2;
	}
	// Step text
	&ItemText {
		font-size: 13px;
		color: #8191ab;
		font-weight: 500;
	}

	&ItemLine {
		display: inline-block;
		height: 3px;
		width: 100%;
		background: #cfd8dc;
		float: left;
		position: absolute;
		left: -50%;
		top: 12px;
		z-index: 1;
	}
	// Active Step
	&ItemActive {
		.formStepsItemIcon {
			background: #00aeef;
			color: #ffffff;
		}

		.formStepsItemText {
			color: #4f5e77;
		}

		.formStepsItemLine {
			background: #00aeef;
		}
	}
	// Active Step
	&ItemCompleted {
		.formStepsItemText {
			color: #4f5e77;
		}

		.formStepsItemIcon {
			background: #00aeef;
			background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDkuMTIgNyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuMTIgMS4wNkw4LjA2IDAgMy4xOCA0Ljg4IDEuMDYgMi43NiAwIDMuODIgMy4xOCA3bDUuOTQtNS45NHoiLz48L3N2Zz4=);
			color: transparent;
			background-size: 10px;
			background-repeat: no-repeat;
			background-position: center center;
			width: 25px;
			height: 25px;
			line-height: 25px;
		}

		.formStepsItemLine {
			background: #00aeef;
		}
	}
}